.genpass{
  width: 415px;
  margin: 20px auto;
  
}
.header{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

input#displayPass{
  width: 255px;
height: 39px;
box-sizing: border-box;
background: #FCFAFA;
border-radius: 4px;
}

#copy{
  padding: 6px 6px 6px 8px;
  width: 80px;
  height: 39px;
  margin-left: 25px;
background: #3C0484;
border: 1px solid #C6C3C3;
border-radius: 4px;

font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: center;
letter-spacing: 1.25px;
color: white;
}

input[type='checkbox']{
  width: 24px;
  height: 24px;
  background-color: #6200EE;
  margin-right: 25px;
}
.list{
  margin-bottom: 25px;
}
div.listFilter{
  font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
display: flex;
align-items: center;
vertical-align: auto;
letter-spacing: 1.25px;
}

#generateBtn{
  padding: 6px 6px 6px 8px;
  width: 155px;
  height: 39px;

background: #380776;
border: 1px solid #C6C3C3;
border-radius: 4px;

font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: center;
letter-spacing: 1.25px;
color: white;
margin-left: 50px;
}